<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Blog Application</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a th:href="@{/donate}">Donate</a></li>
                <ul sec:authorize="hasRole('ROLE_DONOR')">
                    <li><a th:href="@{/posts}">Posts</a></li>
                </ul>
                <div sec:authorize="isAuthenticated()">
                    <form action="#"
                          th:action="@{/logout}"
                          method="POST">
                        <div>
                            <label>Hi, <span sec:authentication="name">Username</span></label>
                        </div>
                        <button type="submit">Logout</button>
                    </form>
                </div>
                <ul sec:authorize="!isAuthenticated()">
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </ul>
        </nav>

        <hr />
        <ul sec:authorize="hasRole('ROLE_ADMIN')">
            <li><a th:href="@{/posts/new}">Create New Post</a></li>
        </ul>
        <div class="posts-container">
            <div class="post" th:each="post : ${posts}">
                <h2><a th:href="@{'/posts/' + ${post.id}}"
                       th:text="${post.title}">Title</a>
                </h2>
                <h5 th:text="'Written by ' + ${post.account.firstName}">Account First Name</h5>
                <h5 th:text="'Published on ' + ${post.createdAt}">Created At</h5>
                <p th:text="${post.body}">body text</p>
                <br />
            </div>
        </div>
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form action="#"
            th:action="@{/logout}"
            method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>