<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Post</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
        <li><a th:href="@{/donate}">Donate</a></li>
        <li><a th:href="@{/posts}" th:if="${#authorization.expression('hasRole(''ROLE_DONOR'')')}">Blog</a></li>
        <li><a th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a></li>
        <li><a th:href="@{/login}" th:unless="${#authorization.expression('isAuthenticated()')}">Login</a></li>
    </ul>
</nav>
<div class="container">
    <a th:href="@{'/posts'}">Back to Posts</a>
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'Written By ' + ${post.account.firstName}">Written By</h5>
        <h5 th:text="'Created at ' + ${post.createdAt}">Created At</h5>
        <p th:text="${post.body}">body text</p>
    </div>
</div>

</body>
</html>